{% extends 'base.html' %}
{% load bootstrap3 %}



{% block nav %}
<div class="container">


  <div style="background-color:#efefef;height:250px;width:400px;margin-left:320px;margin-top:50px;">
  
    <h1 style="font-family:'Montserrat';text-align:center;"><strong>Register Here</stromg></h1>
    <div class="table table-dark" style="padding:10px;margin-bottom:100px;">
    <form method="POST" style="color:#efefef;"> 
    {% csrf_token %}
    {% bootstrap_form form %}

    <input type="submit" class="btn btn-primary" value="Register" style="margin-left:150px;">
  </form>
</div>
</div>
</div>


{% endblock %}